<% content_for :header_tags do %>
  <%= stylesheet_link_tag '/plugin_assets/redmine_working_hours/stylesheets/working_hours' %>
<% end %>

<div class="contextual">
  <% if User.current.admin? %>
    <%= link_to l(:label_working_hours_snapshots), working_hours_snapshots_path, :class => 'icon icon-time' %>
  <% end %>
</div>

<h2><%=l(:label_working_hours)%></h2>

<%= form_tag({ :action => 'index'},:method => :get, :id => 'query_form') do %>
  <div id="query_form_with_buttons" class="hide-when-print">
    <div id="query_form_content">
      <fieldset id="filters" class="collapsible collapsed">
        <legend onclick="toggleFieldset(this);"><%= l(:label_filter_plural) %></legend>
        <div style="display: none">
          <%= l(:field_starting) %>: <%= text_field_tag 'filter[begindate]', @begindate_filter, :size => 10 %><%= calendar_for('filter_begindate') %>
          <%= l(:field_ending) %>: <%= text_field_tag 'filter[enddate]', @enddate_filter, :size => 10 %><%= calendar_for('filter_enddate') %>
          <p class="buttons">
            <%= link_to_function l(:button_apply), '$("#query_form").submit()', :class => 'icon icon-checked' %>
            <%= link_to l(:button_clear), {}, :class => 'icon icon-reload'  %>
          </p>
        </div>
      </fieldset>
    </div>
  </div>
<% end %>

<div class="total-hours">
  <h3><%= l(:label_total) %>:</h3>
  <table class="list">
    <thead>
      <th><%= l(:field_total) %></th>
      <th><%= l(:field_target) %></th>
      <th><%= l(:label_diff) %></th>
      <th><%= l(:label_vacation_left) %></th>
    </thead>
    <tr>
      <td><%= "#{'%.2f' % @actual_hours}h" %></td>
      <td><%= "#{'%.2f' % @target_hours}h" %></td>
      <td><%= "#{'%.2f' % @diff_hours}h" %></td>
      <td><%= WorkingHours.vacation_days_available %></td>
    </tr>
  </table>
</div>

<div class="current-month">
  <h3><%= DateTime.now.strftime("%B %Y") %>:</h3>
  <table class="list">
    <thead>
      <th><%= l(:field_total) %></th>
      <th><%= l(:field_target) %></th>
      <th><%= l(:label_target_remaining) %></th>
      <th><%= l(:label_diff_until_now) %></th>
      <th><%= l(:label_diff_prev_month) %></th>
    </thead>
    <tr>
      <td><%= "#{'%.2f' % (WorkingHours.total_hours_month(Time.now.month))}h" %></td>
      <td><%= "#{'%.2f' % (WorkingHours.target_hours_month(Time.now.month))}h" %></td>
      <td><%= "#{'%.2f' % (-WorkingHours.diff_hours_until_day(WorkingHours.last_day_of_month(Time.now.month)))}h" %></td>
      <td><%= "#{'%.2f' % (WorkingHours.diff_hours_until_day(Date.today - 1.day))}h" %></td>
      <td><%= "#{'%.2f' % (WorkingHours.diff_hours_until_day(Date.new(Time.now.year, Time.now.month, 1) - 1.day))}h" %></td>
    </tr>
  </table>
</div>
